@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #e7e9ee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1c2135;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
}
