@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: black;
  --color-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
    --color-background: black;
  }
}

body {
  color: var(--color-text);
  background: var(--color-background);
}
